.navwrapper{
    width: 1440px;
    height: 50px;
    /* background: grey; */
}
.inline{
    vertical-align: middle;
    display: inline-block;
            /* ქრისტინას */
        /*აქ სურათებსაც რომ მიენიჭა  inline-block პრობლემაა რამე?  */
}
.logo1{
    margin-top: 18px;
    margin-right: 92px;
    margin-left: 20px;
}
.gogona{
   margin-left: 40px;
    vertical-align: middle;
}
.text{
    vertical-align: middle;    
}
.nav-a-item{
    /* color: #343638 */
    /* mokled aq es ferebi cudad dajda da 
    ubralod grey jobia */
    color: grey;
    margin: 0px 22px;
}
.chosen{
    /* color: #2B2D2E; */
    color: black
   }
   .container{
    width: 1160px;
    height: 410px;
    margin: 0 auto;
    margin-top: 25px;
   }
   .header1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
   }
   .section1-main-div{
    display: inline-block;
    width: 360px;
    height: 350px;
    margin-top: 36px;
   }
   .div2{
    margin:0 40px;
   }
   .descr{
    margin-top: 66px;
    text-align: center;
   }